@import "variables";
@import "mixin";


.G-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: white;
}


::-webkit-scrollbar-thumb {
  background: $grey-10;
  border-radius: 20px;
}

.G-hidden {
  overflow: hidden;
}
.G-padding-15{
  padding: 15px;
}

.G-input-radio{
    background-color: $white;
    border-radius: 10px;
    cursor: pointer;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;

  &:after {
    background-color: $grey-base;
    border-radius: 25px;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
  }
  &:checked:after {
    background-color: $yellow;

  }
}
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(#193763, 0) 0,
          rgba(#193763, 0.2) 20%,
          rgba(#193763, 0.5) 60%,
          rgba(#193763, 0)
      );
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}